
body {
    background-color: #06bcc1;
}

.container {
    /* border: 2px solid #111; */
    height: 90vh;
    display: flex;
}

.quotes {
    width: 900px;
    height: 450px;
    color: gray;
    background-color: #f4edea;
    text-align: center;
    margin: auto;
    border: 10px solid #f4d1ae;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quotes p ,.quotes h1 {
    font-size: 1.5rem;
    /* text-transform: capitalize; */
}

.button {
    display: flex;
    justify-content: center;
    place-items: center;
    margin-top: -20px;
}